<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">ember-select-2 <span class="version-number">{{version}}</span></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        {{#link-li}}
        	{{#link-to "index"}}Home{{/link-to}}
        {{/link-li}}
        {{#link-li}}
          {{#link-to "examples"}}Examples{{/link-to}}
        {{/link-li}}
        {{#link-li}}
          {{#link-to "docs"}}Docs{{/link-to}}
        {{/link-li}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/istefo/ember-select-2">Fork on Github.com</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
<div class="container">
	{{outlet}}
</div>